<!-- This is to demo passing data from parent to child and from child to parent components
 Setup the two way binding by using the [(ngModel)]. The variable would receive the value,
 so you could display within the component.

 If you want to send it to a different component, declare a public variable and decorate it with "@Input()"
 and set that variable from different component with the property binding.
-->


<app-child-component (notify) = "parentReceivedData($event)"  [parentData] ='myName'></app-child-component>

<p>
  <label>Parent Input</label>
  <input type="text" id="parentInput" name="parentInput" [(ngModel)] = "myName">
</p>

<p>This message is from child component : {{myName}}</p>

<p>Child I got your message : {{childData}}</p>
